@{
    ViewBag.Title = "Détails Contact";
}

@model Contact

  
<div id="display-det">
    <h1>Détails du contact @Model.Id</h1>
    <div class="det-flex">
        <label>Id : </label>
        <span>@Model.Id</span>
    </div>
    <div class="det-flex">
        <label>First Name : </label>
        <span>@Model.FirstName</span>
    </div>
    <div class="det-flex">
        <label>Last Name : </label>
        <span>@Model.LastName</span>
    </div>
    <div class="det-flex">
        <label>Email : </label>
        <span>@Model.Email</span>
    </div>

    <div>
        <a href="~/contact">Retour aux contacts</a>
    </div>
</div>
