@model Dictionary<string, IEnumerable<Contact>>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (KeyValuePair<string, IEnumerable<Contact>> kvp in Model)
{
    <h3>@kvp.Key</h3>
    <div id="contact-list">
        @foreach (var value in kvp.Value)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@value.LastName @value.FirstName</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="title-attr">Nom :</span><span>@value.LastName</span> </h6>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="title-attr">Prénom :</span><span>@value.FirstName</span> </h6>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="title-attr">Email :</span><span>@value.Email</span> </h6>

                    <div>
                        <!--<td>-->@*<a href="~/contact/details/@c.Id">Details</a>*@<!--</td>-->
                        <a class="card-link" asp-action="Details" asp-controller="Contact" asp-area="" asp-route-id="@value.Id">Details</a>
                        <a class="card-link" asp-action="Create" asp-controller="Contact" asp-area="" asp-route-id="@value.Id">Update</a>
                        <a class="card-link" asp-action="Delete" asp-controller="Contact" asp-area="" asp-route-id="@value.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
 }


